{
    "username": "DannyS712 bot@basic",
    "password": "",
    "db_host": "enwiki.analytics.db.svc.eqiad.wmflabs",
    "db_port": 3306,
    "db_user": "",
    "db_password": "",
    "db_database": "enwiki_p"
}
